.night_mode--high {
  color: white !important;
}

.night_mode--medium {
  color: #cccccc !important;
}

.night_mode--low {
  color: #555555 !important;
}

.night_mode__bg_color {
  background-color: black !important;
}
